<!doctype html>
<html lang="ru">
{% block page__head %}
  <head>
  {% block page__meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock page__meta %}

  {% block page__title %}
    <title>{% block page__titleContent %}{% endblock page__titleContent %}</title>
  {% endblock page__title %}

  {% block page__favicon %}
    {# {% include "_favicon.html" %} #}
  {% endblock page__favicon %}

  {% block page__styles %}
    <link rel="stylesheet" href="main.css">
  {% endblock page__styles %}
  </head>
{% endblock page__head %}
  <body class="page theme theme_color_default theme_font_default theme_size_default theme_space_default theme_gap_medium">
    <div class="container container_align_center container_size_s text text_line-height_m">
      {% block page__content %}{% endblock page__content %}
    </div>

  {% block page__scripts %}
    <script src="main.js"></script>
  {% endblock page__scripts %}
  </body>
</html>
